<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Categorias de IMC</title>
    <link rel="stylesheet" href="/static/styles/estilo2.css">
</head>
<body>
    <nav>
        <a href="/" class="botao-voltar">Voltar</a>
    </nav>
    <div class="tabela">
        <h1>Categorias de IMC</h1>
        <table>
            <thead>
                <tr>
                    <th>Categoria</th>
                    <th>IMC</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Abaixo do Peso</td>
                    <td>Menos de 18,5</td>
                </tr>
                <tr>
                    <td>Peso Normal</td>
                    <td>18,5 a 24,9</td>
                </tr>
                <tr>
                    <td>Sobrepeso</td>
                    <td>25 a 29,9</td>
                </tr>
                <tr>
                    <td>Obesidade Grau I</td>
                    <td>30 a 34,9</td>
                </tr>
                <tr>
                    <td>Obesidade Grau II</td>
                    <td>35 a 39,9</td>
                </tr>
                <tr>
                    <td>Obesidade Grau III</td>
                    <td>40 ou mais</td>
                </tr>
            </tbody>
        </table>

        <h2>IMC por Idade e Gênero</h2>

        <h3>Meninos</h3>
        <table>
            <thead>
                <tr>
                    <th>Idade</th>
                    <th>Abaixo do Normal</th>
                    <th>Normal</th>
                    <th>Sobrepeso</th>
                    <th>Obesidade</th>
                </tr>
            </thead>
            <tbody>
                
                <tr>
                    <td>6</td>
                    <td>Menor que 14,5</td>
                    <td>Entre 14,5 e 16,6</td>
                    <td>Entre 16,7 e 18,0</td>
                    <td>Maior que 18,0</td>
                </tr>
                <tr>
                    <td>7</td>
                    <td>Menor que 15,0</td>
                    <td>Entre 15,0 e 17,3</td>
                    <td>Entre 17,4 e 19,1</td>
                    <td>Maior que 19,1</td>
                </tr>
                <tr>
                    <td>8</td>
                    <td>Menor que 15,56</td>
                    <td>Entre 15,6 e 18,0</td>
                    <td>Entre 18,1 e 20,3</td>
                    <td>Maior que 20,3</td>
                </tr>
                <tr>
                    <td>9</td>
                    <td>Menor que 16,1</td>
                    <td>Entre 16,1 e 18,8</td>
                    <td>Entre 18,9 e 21,4</td>
                    <td>Maior que 21,4</td>
                </tr>
                <tr>
                    <td>10</td>
                    <td>Menor que 16,7</td>
                    <td>Entre 16,7 e 19,6</td>
                    <td>Entre 19,7 e 22,5</td>
                    <td>Maior que 22,5</td>
                </tr>
                <tr>
                    <td>11</td>
                    <td>Menor que 17,2</td>
                    <td>Entre 17,2 e 20,3</td>
                    <td>Entre 20,4 e 23,7</td>
                    <td>Maior que 23,7</td>
                </tr>
                <tr>
                    <td>12</td>
                    <td>Menor que 17,8</td>
                    <td>Entre 17,8 e 21,1</td>
                    <td>Entre 21,2 e 24,8</td>
                    <td>Maior que 24,8</td>
                </tr>
                <tr>
                    <td>13</td>
                    <td>Menor que 18,5</td>
                    <td>Entre 18,5 e 21,9</td>
                    <td>Entre 22,0 e 25,9</td>
                    <td>Maior que 25,9</td>
                </tr>
                <tr>
                    <td>14</td>
                    <td>Menor que 19,2</td>
                    <td>Entre 19,2 e 22,7</td>
                    <td>Entre 22,8 e 26,9</td>
                    <td>Maior que 26,9</td>
                </tr>
                <tr>
                    <td>15</td>
                    <td>Menor que 19,9</td>
                    <td>Entre 19,9 e 23,6</td>
                    <td>Entre 23,7 e 27,7</td>
                    <td>Maior que 27,7</td>
                </tr>
        
            </tbody>
        </table>

        <h3>Meninas</h3>
        <table>
            <thead>
                <tr>
                    <th>Idade</th>
                    <th>Abaixo do Normal</th>
                    <th>Normal</th>
                    <th>Sobrepeso</th>
                    <th>Obesidade</th>
                </tr>
            </thead>
            <tbody>
                
                <tr>
                    <td>6</td>
                    <td>Menor que 14,3</td>
                    <td>Entre 14,3 e 16,1</td>
                    <td>Entre 16,2 e 17,4</td>
                    <td>Maior que 17,4</td>
                </tr>
                <tr>
                    <td>7</td>
                    <td>Menor que 14,9</td>
                    <td>Entre 14,9 e 17,1</td>
                    <td>Entre 17,2 e 18,9</td>
                    <td>Maior que 18,9</td>
                </tr>
                <tr>
                    <td>8</td>
                    <td>Menor que 15,6</td>
                    <td>Entre 15,6 e 18,1</td>
                    <td>Entre 18,2 e 20,3</td>
                    <td>Maior que 20,3</td>
                </tr>
                <tr>
                    <td>9</td>
                    <td>Menor que 16,3</td>
                    <td>Entre 16,3 e 19,1</td>
                    <td>Entre 19,2 e 21,7</td>
                    <td>Maior que 21,7</td>
                </tr>
                <tr>
                    <td>10</td>
                    <td>Menor que 17,0</td>
                    <td>Entre 17,0 e 20,1</td>
                    <td>Entre 20,2 e 23,2</td>
                    <td>Maior que 23,2</td>
                </tr>
                <tr>
                    <td>11</td>
                    <td>Menor que 17,6</td>
                    <td>Entre 17,6 e 21,1</td>
                    <td>Entre 21,2 e 24,5</td>
                    <td>Maior que 24,5</td>
                </tr>
                <tr>
                    <td>12</td>
                    <td>Menor que 18,3</td>
                    <td>Entre 18,3 e 22,1</td>
                    <td>Entre 22,2 e 25,9</td>
                    <td>Maior que 25,9</td>
                </tr>
                <tr>
                    <td>13</td>
                    <td>Menor que 18,9</td>
                    <td>Entre 18,9 e 23,0</td>
                    <td>Entre 23,1 e 27,7</td>
                    <td>Maior que 27,7</td>
                </tr>
                <tr>
                    <td>14</td>
                    <td>Menor que 19,3</td>
                    <td>Entre 19,3 e 23,8</td>
                    <td>Entre 23,9 e 27,9</td>
                    <td>Maior que 27,9</td>
                </tr>
                <tr>
                    <td>15</td>
                    <td>Menor que 19,6</td>
                    <td>Entre 19,6 e 24,2</td>
                    <td>Entre 24,3 e 28,8</td>
                    <td>Maior que 28,8</td>
                </tr>
              
            </tbody>
        </table>
    </div>
</body>
</html>
